@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important; 
}

 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.text-grey {
    color: #2b3a41;
}

.text-grey-light {
    color: grey;
}

.w-600 {
    font-weight: 600;
}

.w-300 {
    font-weight: 300;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

/* banner */

.navbar-brand {
    padding: 10px 0;
    font-family: 'Baskervville', serif;
    font-size: 40px;
    color: #fff;
}

.nav-link {
    font-weight: 600;
    margin: 0 8px;
}

.dm-16 {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.nav-link:hover {
    color: #0083ff !important;
    border-bottom: 2px solid #0083ff;
}

.banner {
    background: #2b3a41;
}
  
.home {
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
    max-width: 100%;
    height: auto;
}

.main {
    background-image: url('../images/Bitmap.png');
}

.title {
    font-family: 'Baskervville', serif;
    font-size: 55px;
}

.padding-title {
    padding: 6rem 6rem 10rem 6rem;
}

.border-middle {
    border: 1px solid #fff;
    width: 8%;
    margin-right: 20px;
}

.border-middle-grey {
    border: 1px solid #2b3a41;
    width: 8%;
    margin-right: 20px;
}

.cap {
    text-transform: uppercase;
}

.btn-orange {
    border-radius: 0;
    color: #fff;
    background-color: #ECBB9C;
    border-color: #ECBB9C;
    font-size: 12px;
    padding: 5px 30px;
}

.btn-circle.btn-xl { 
    width: 60px; 
    height: 60px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
    background-color: #fff;
    color: black;
} 

.btn-circle.btn-xl:hover
{
    background-color: #0069d9;
}

.padding-play {
    padding: 15rem 0;
}

/* banner */

/* about */
 
.about {
    background-color: #fff;
    margin-top: -70px;
    color: #2b3a41;
}

.padding-both {
    padding: 8rem 2rem;
}

.orange-back {
    background-image: url('../images/Bitmap(2).png');
}

.img-org {
    background-size: 100% 100%;
    background-position: center;
    max-width: 300px;
    padding: 6rem 0;
}

.top-img {
    margin-left: -60px;
    margin-bottom: -140px;
    max-width: 150px;
}

.about-title {
    font-family: 'Baskervville', serif;
    font-size: 35px;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #2b3a41;
    border-color: #2b3a41;
    font-size: 12px;
    padding: 5px 30px;
}

/* about */

/* appointment */

.appointment {
    background-image: url('../images/Bitmap(3).png');
}

.padding-bottom {
    padding-bottom: 8rem;
}

.btn-transparent {
    border-radius: 0;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-size: 14px;
    padding: 5px 30px;
}

/* appointment */


/* feature */

.feature .card {
   border: none;
}

.feature .card-body {
    padding: 2rem 0;
 }

 .feature .card-body  p, .line-hg {
    line-height: 1.8;
 } 

 .card-item {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 40px rgba(82,85,90,0.1);
    -moz-box-shadow: 0 10px 40px rgba(82,85,90,0.1);
    box-shadow: 0 10px 40px rgba(82,85,90,0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
}

.card-item .card-image {
    position: relative;
}

.card-item .card-image .card__img {
    width: 100%;
}

.card-item .card-content {
    position: relative;
}

.card-item .card-content .user-thumb {
    position: absolute;
    right: 30px;
    top: -38px;
    z-index: 1;
}

.d-inline-block {
    display: inline-block !important;
}

.img-circle {
    width: 55px; 
    height: 55px; 
    padding: 15px; 
    border-radius: 35px; 
    font-size: 16px; 
    text-align: center; 
    background-color: #2b3a41;
    color: #cca58c;
}

/* Menu */

.list-group-item {
  border: none;
  padding: 1rem;
}

.list-group-item.active {
    background-color: #2b3a41;
    border-color: #2b3a41;
}

.btn-dark-outline {
    border-radius: 0;
    color: #2b3a41;
    background-color: transparent;
    border-color: #2b3a41;
    font-size: 12px;
    padding: 5px 30px;
}

.selector {
    display: none;
}

.list-tab {
    display: block;
}

/* Menu */

/* Order */

.order {
    background-image: url('../images/Bitmap\(12\).png');
}

/* Order */

/* chef */

.chef-back {
    background-image: url('../images/Bitmap(14).png');
}


.bottom-img {
    margin-left: -60px;
    margin-top: -140px;
    max-width: 150px;
}

/* chef */

/* Event */

.slider-body{
    min-height: auto;
    display: flex;
    align-items: center;
  }

.wrapper{
    width: 100%;
  }
  .carousel{
    max-width: 1200px;
    margin: auto;
  }

  .carousel .card-1{
    background: #ed1c24;
  }
  .carousel .card-2{
    background: #0072bc;
  }
  .carousel .card-3{
    background: #39b54a;
  }
  .carousel .card-4{
    background: #f26522;
  }
  .carousel .card-5{
    background: #630460;
  }
  .owl-dots{
    text-align: center;
    margin-top: 40px;
  }
  .owl-dot{
    height: 12px;
    width: 12px;
    margin: 0 5px;
    outline: none;
    border: 2px solid #d9d9d9 !important;
    background-color: #bdbdbd;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #567482 !important;
    border: 2px solid #567482 !important;
  }

  /* event */

/* customer */
.org {
    color: #ecbb9c;
}

.customer {
    background: #fff;
}

.margin-minus {
    margin-bottom: -70px;
}

/* customer */

/* footer */

 .footer {
    background: #1b262a;
 }

 .padding-top {
    padding-top: 8rem;
 }

 .footer-list li a, .footer-list-icon li a {
    color: #fff;
    line-height: 1.8;
 }

 .footer-list li a:hover {
    color: #ECBB9C;
 }

 .footer-list-icon li a:hover {
    color: #2b3a41;
    background-color: #fff;
 }

 .org-circle { 
    width: 50px; 
    height: 50px; 
    padding: 8px 12px; 
    border-radius: 25px; 
    font-size: 12px; 
    text-align: center; 
    background-color: #ECBB9C;
    color: #fff;
} 

/* footer */


@media screen and (max-width: 480px)  {
    .home {
        background-size: 100% 50%;
        background-position: bottom;
    }

    .padding-title {
        padding: 4rem 2rem 6rem 2rem;
    }

    .padding-play {
        padding: 12rem 0;
    }

    #orange-back {
        padding: 6rem 2rem;
    }

    .selector {
        display: block;
    }

    .list-tab {
        display: none;
    }
    
}

.category-item {
    position: relative;
    z-index: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 30px;
}

.overflow-hidden {
    overflow: hidden !important;
}

.category-item .cat-img {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.category-item .category-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.category-item .category-content::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: #080808d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: -1;
}

.category-item .badge {
    font-size: 50px;
    font-family: 'Baskervville', serif;
}